In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.common.alert import Alert
from selenium.webdriver import ActionChains
from selenium.webdriver.support.select import Select
import time
import pandas as pd

servico = Service(ChromeDriverManager().install())
navegador = webdriver.Chrome(service=servico)

In [2]:
import os
caminho = os.getcwd()
arquivo = caminho + r"\index.html"

In [3]:
tabela = pd.read_excel('Processos.xlsx')
display(tabela)

     Nome      Advogado Processo            Cidade  Status
0    Lira   Alon Lawyer   PC6592  Distrito Federal     NaN
1    João   Lawyer Alon   EB3792    Rio de Janeiro     NaN
2  Amanda  Amanda mesmo   MM1043    Rio de Janeiro     NaN
3   Carol        Amanda   PC5197         São Paulo     NaN

In [4]:


for linha in tabela.index:
    print(linha)
    
    navegador.get(arquivo)
    
    botao =  navegador.find_element(By.CLASS_NAME, 'dropdown-menu')
    ActionChains(navegador).move_to_element(botao).perform()
    
    cidade = tabela.loc[linha, 'Cidade']
    
    navegador.find_element(By.PARTIAL_LINK_TEXT, cidade).click()

    aba_original = navegador.window_handles[0]
    indice = 1 + linha
    aba_nova = navegador.window_handles[indice]

    navegador.switch_to.window(aba_nova)
    navegador.find_element(By.ID, 'nome').send_keys(tabela.loc[linha,'Nome'])
    navegador.find_element(By.ID, 'advogado').send_keys(tabela.loc[linha,'Advogado'])
    navegador.find_element(By.ID, 'numero').send_keys(tabela.loc[linha,'Processo'])
    navegador.find_element(By.XPATH, '//*[@id="formulario"]/div/button').click()
    time.sleep(1)
    
    alerta = Alert(navegador)
    alerta.accept()
    time.sleep(5)
    alrta = Alert(navegador)
    alerta_texto = alerta.text

    if 'Processo encontrado com sucesso' in alerta_texto:
        alerta.accept()
        tabela.loc[linha, 'Status'] = 'Encontrado'
    else:
        alerta.accept()
       
        tabela.loc[linha, 'Status'] = 'Não Encontrado'

0
1
2
3

In [5]:
navegador.quit()
display(tabela)

     Nome      Advogado Processo            Cidade          Status
0    Lira   Alon Lawyer   PC6592  Distrito Federal      Encontrado
1    João   Lawyer Alon   EB3792    Rio de Janeiro  Não Encontrado
2  Amanda  Amanda mesmo   MM1043    Rio de Janeiro  Não Encontrado
3   Carol        Amanda   PC5197         São Paulo      Encontrado